<% if @current_user %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= root_path %>">
          Logo
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a  href="<%= root_path%>">Home</a>
          </li>
          <!-- Cliente -->
          <% if @current_user == 3 %>
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ficha cadastro<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="<%= user_step_path(@current_user, 1)%>">Dados Pessoais</a>
                </li>
                <li>
                  <a href="<%= user_step_path(@current_user, 2)%>">Objetivo</a>
                </li>
                <li>
                  <a href="<%= user_step_path(@current_user, 3)%>">Perfil de investidor</a>
                </li>
                <li>
                  <a href="<%= user_step_path(@current_user, 4)%>">Dados Complementares</a>
                </li>
                <li>
                  <a href="<%= user_step_path(@current_user, 5)%>">Senha de Acesso</a>
                </li>
              </ul>
            </li>
          <%end%>

          <li>
            <a  href="<%= root_path%>">Perfil</a>
          </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="<%= log_out_path %>">Sair</a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
<% end %>